@import "../../theme/_variables.scss";
@import "../../theme/_mixins.scss";

.title {
  color: $FM_TEXT_BROWN;

  h3 {
    font-size: 30px;
    line-height: 1;
    text-shadow: $FM_TITLE_SHADOW;
    margin-bottom: 50px;
  }

  p {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 25px;
  }

  @include devices(md) {
    h3 {
      font-size: 25px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
    }
  }
}

.countdown {
  color: $FM_TEXT_BROWN;

  a {
    color: $FM_TEXT_BROWN;
    border-bottom: 1px solid transparent;
    transition: $FM_TRANSITION;
    text-decoration: none;

    &:hover {
      border-color: $FM_TEXT_BROWN;
    }
  }
}

.button {
  background: #e6b325;
  box-shadow: $FM_BUTTON_SHADOW;
  border: none;
  border-radius: 5px;
  color: $FM_TEXT_BROWN;
  font-size: 16px;
  font-weight: 300;
  width: 180px;
  padding: 6px;

  &:hover {
    background: #a47e3b;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    background: $FM_BG_GRAY2;
    opacity: 1;
  }
}

.lottie {
  p {
    font-weight: 400;
  }

  svg {
    width: 300px !important;
  }
}

.errors {
  position: absolute;
  top: 5px;

  color: $FM_TEXT_RED;
  margin-bottom: 10px;

  p {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 0;
  }

  @include devices(md) {
    position: initial;
  }
}
