@import "../../theme/_variables.scss";
@import "../../theme/_mixins.scss";

.title {
  color: $FM_TEXT_BROWN;

  h3 {
    font-size: 30px;
    line-height: 1;
    text-shadow: $FM_TITLE_SHADOW;
    margin-bottom: 50px;
  }

  p {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 25px;
  }

  @include devices(md) {
    h3 {
      font-size: 25px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
    }
  }
}

.form {
  input {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid $FM_TEXT_BROWN;
    border-radius: 0;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    max-width: 60px;
    padding: 0;

    &:focus {
      background-color: transparent;
      border-bottom: 4px solid $FM_TEXT_BROWN;
      box-shadow: none;
    }

    @include devices(md) {
      font-size: 40px;
    }
  }
}

.countdown {
  color: $FM_TEXT_BROWN;
}

.button {
  background: #e6b325;
  box-shadow: $FM_BUTTON_SHADOW;
  border: none;
  border-radius: 5px;
  color: $FM_TEXT_BROWN;
  font-size: 16px;
  font-weight: 300;
  width: 180px;
  padding: 6px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #a47e3b;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
  }
}

.lottie {
  p {
    font-weight: 400;
  }

  svg {
    width: 300px !important;
  }
}
