@import "../../../theme/_variables.scss";
@import "../../../theme/_mixins.scss";

.background {
  background-image: url(../../../assets/images/bg-profile.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 600px;

  @include devices(xl) {
    background-size: 550px;
  }

  @include devices(md) {
    background-size: 500px;
  }

  @include devices(sm) {
    background-position: right -50px bottom;
    background-size: 100vw;
    padding-bottom: 30px;
  }
}

.container {
  min-height: calc(100vh - $FM_HEADER_HEIGHT - $FM_FOOTER_HEIGHT);
  padding: 40px 0;

  @include devices(md) {
    min-height: calc(100vh - $FM_HEADER_HEIGHT_MD - $FM_FOOTER_HEIGHT_MD);
    padding-top: 20px;
  }

  @include devices(xs) {
    min-height: calc(100vh - $FM_HEADER_HEIGHT_XS - $FM_FOOTER_HEIGHT_XS);
  }
}
