@import "../../../theme/_variables.scss";
@import "../../../theme/_mixins.scss";

.background {
  background-image: url(../../../assets/images/bg-order-history.png);
  background-position: right -350px top 120px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80vh;

  @include devices(xl) {
    background-size: 75vh;
  }

  @include devices(md) {
    background-position: center bottom -400px;
    background-attachment: initial;
    background-size: 750px;
    padding-bottom: 100px;
  }

  @include devices(sm) {
    background-position: center bottom -300px;
    background-size: 600px;
    padding-bottom: 70px;
  }
}

.container {
  min-height: calc(100vh - $FM_HEADER_HEIGHT - $FM_FOOTER_HEIGHT);
  padding: 40px 0;
  margin: 0 20px;

  @include devices(md) {
    min-height: calc(100vh - $FM_HEADER_HEIGHT_MD - $FM_FOOTER_HEIGHT_MD);
    margin: 0;
    padding: 20px 0;
  }

  @include devices(xs) {
    min-height: calc(100vh - $FM_HEADER_HEIGHT_XS - $FM_FOOTER_HEIGHT_XS);
  }
}
