@import "../../theme/_variables.scss";
@import "../../theme/_mixins.scss";

.container {
}

.top {
  padding: 10px 15px 15px;

  .details {
    color: $FM_TEXT_BROWN;
    line-height: 1;

    .rating {
      font-size: 0;
      margin: 3px 0 10px;
    }

    img {
      background-color: #ffffff;
      border: 1px solid #61481c;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      object-fit: contain;
      width: 80px;
      height: 80px;
      padding: 3px;
    }

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 10px;
    }

    .textDetails {
      width: 50%;
    }

    .btnRating {
      background: #000000;
      border: 2px solid #000000;
      color: #ffffff;
      font-size: 13px;
      font-weight: 500;
      margin-top: 5px;
      padding: 5px 10px;
      text-transform: uppercase;

      &:hover {
        border-color: $FM_BG_YELLOW;
      }
    }
  }
}

.bottom {
  border-top: 1px solid #000000;
  position: absolute;
  bottom: 0;
  width: 100%;

  > div {
    min-height: 150px;
    width: 50%;
    padding: 10px 20px;
  }
}

.buttons {
  button {
    box-shadow: $FM_BUTTON_SHADOW;
    border: 0.5px solid #61481c;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    text-shadow: $FM_TEXT_SHADOW;
    padding: 10px;
    transition: $FM_TRANSITION;

    &:hover {
      border: 0.5px solid #61481c;
      opacity: 0.75;
    }

    &.btnPromos {
      background-color: #bf9742;
    }

    &.btnDiscounts {
      background-color: #868585;
    }
  }
}

.checkout {
  background-color: #d9d5d5;
  font-size: 15px;
  line-height: 1.4;

  strong {
    font-weight: 500;
  }

  .total {
    background: $FM_BG_YELLOW;
    border: 1px solid $FM_TEXT_BROWN;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 5px;
  }

  button {
    border: 1px solid #584016;
    border-radius: 5px;
    display: block;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 45px;
    height: 45px;
    padding: 0;
    transition: $FM_TRANSITION;
    text-align: center;
    text-decoration: none;

    &.btnCheckout {
      background-color: $FM_BG_YELLOW;
      border-color: #584016;
      color: #000000;

      &:disabled {
        background: $FM_BG_GRAY2;
      }
    }

    &.btnCancel {
      background-color: #bf9520;
      border-color: #584016;
      color: #000000;
    }

    &:active,
    &:focus {
      border: 1px solid #584016;
      color: #000000;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

@include devices(md) {
  .bottom {
    position: initial;
  }
}

@include devices(sm) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .categories {
    order: 0;
    margin-top: 20px;
  }

  .menu {
    order: 1;
  }

  .buttonsContainer {
    order: 2;

    .buttons {
      > * {
        flex: 1;
        font-size: 12px;
        padding: 8px;
      }
    }
  }

  .bottom {
    order: 3;
  }

  .top {
    order: 4;
    background-color: #2c2c2c;
    padding: 20px;

    .details {
      color: #d9d9d9;

      img {
        background-color: #ffffff;
      }

      .textDetails {
        width: 100%;
      }
    }
  }

  .bottom {
    align-items: unset !important;
    border: none;

    h5 {
      font-size: 16px;
      margin-bottom: 15px;
      text-align: center;
    }

    > div {
      min-height: initial;
      padding: 10px;
    }
  }

  .cart {
    background-color: #e3d7c2;
    justify-content: unset !important;
  }

  .checkout {
    justify-content: flex-start !important;
    font-size: 13px;

    .orderedAmountRow {
      margin-bottom: 8px;
    }

    .total {
      background: #ffffff;
      font-size: 1em;
      line-height: 1.8;
      margin: 15px -3px 20px;
    }

    button {
      font-size: 12px;
      flex: 50%;
      line-height: 28px;
      height: 28px;
    }
  }
}
