@import "../../../theme/_variables.scss";
@import "../../../theme/mixins";

.container {
  h1 {
    color: $FM_TEXT_BROWN;
    font-size: 30px;
    line-height: 1;

    @include devices(md) {
      font-size: 28px;
    }

    @include devices(sm) {
      font-size: 24px;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 1.2;
  }

  .searchInput {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    input {
      width: 100%;
      height: 100%;
      padding: 0 12px;
      background: #f3f3f3;
      border: 1px solid #dbdbdb;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      &::placeholder {
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
        color: #7d7d7c;
      }
    }
    .searchIcon {
      position: absolute;
      right: 20px;
      width: 24px;
      height: 24px;
    }
  }
  .buttonContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .buttons {
      width: 138px;
      height: 31px;
      background: #d9d9d9;
      border: 0.5px solid rgba(97, 72, 28, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      text-align: center;
      padding: 0;
      color: #000;
      font-weight: 500;
      font-size: 15px;
      line-height: 15px;
      &:hover {
        background-color: #61481c;
        color: #ffffff;
      }
    }
  }

  @include devices(md) {
    margin: 30px 0px 50px;
  }
  @include devices(sm) {
    margin: 10px 0px 50px;
    .buttons {
      width: 92px;
      height: 29px;
    }
  }
}

@include devices(xs) {
  .mobileHeader {
    margin-top: 10px;
    .headerH3 {
      // background-color: #000;
      h3 {
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
      }
    }
    .searchInput {
      height: 23px !important;
      width: 148px !important;
      input {
        width: 100%;
        height: 100%;
      }
      .searchIcon {
        height: 15px !important;
        width: 15px !important;
      }
    }
  }
}

.modalBody {
  background: #fdf5e7;
  .modalHeaderContent {
    height: 50px;
    background: #ffffff;
    border-bottom: 1px solid #000;
    .modalHeader {
      font-weight: 500;
      font-size: 17px;
      line-height: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      text-align: center;
      padding: 0;
    }
  }
  .orderDeliveryContainer {
    height: 34px;
    margin: 8px 0 14px;
    .modalRow {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background: #ffffff;
      height: 34px;
      .modalHeader {
        margin: 0;
        font-weight: 400;
        font-size: 17px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        text-align: center;
        padding: 0;
        &:first-child {
          background-color: #a47e3b;
          font-size: 17px;
          line-height: 23px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #ffffff;
          text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          border-right: 1px solid #000;
        }
      }
    }
  }
}

.innerContainer {
  margin: 30px 0 0;

  .searchBar {
    margin: 0 0 30px;
  }

  .item:not(:last-child) {
    margin-bottom: 60px;
  }

  .btnBack {
    background-color: #e4e4e4;
    border: 0.5px solid rgba(97, 72, 28, 0.5);
    border-radius: 5px;
    box-shadow: $FM_BUTTON_SHADOW;
    color: #000000;
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    min-width: 150px;
    padding: 8px;
  }

  .btnView {
    text-align: center;

    a {
      background-color: $FM_BG_YELLOW;
      border: 0.5px solid $FM_TEXT_BROWN;
      border-radius: 3px;
      color: #ffffff;
      display: inline-block;
      font-size: 10px;
      font-weight: 500;
      height: 30px;
      line-height: 30px;
      padding: 0;
      text-decoration: none;
      text-shadow: $FM_TEXT_SHADOW;
      text-transform: uppercase;
      width: 100px;
      transition: $FM_TRANSITION;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  @include devices(md) {
    .item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @include devices(sm) {
    .item:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.orderId {
  background-color: #a47e3b;
  // border: 0.5px solid $FM_TEXT_BROWN;
  // border-radius: 2px;

  h6 {
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 10px 5px;
    text-shadow: $FM_TEXT_SHADOW;
  }

  @include devices(sm) {
    h6 {
      padding: 8px;
    }
  }
}

.orderDetails {
  background-color: #e4e4e4;
  border: 1px solid $FM_TEXT_BROWN;
  border-radius: 0px 5px 5px 5px;
  font-size: 14px;
  padding: 25px 30px 10px;

  .value,
  .label {
    font-weight: 500;
  }

  @include devices(sm) {
    padding: 10px 10px 15px;
  }

  @include devices(xs) {
  }
}

.flexOnMobile {
  .btnView {
    display: none;
  }

  @include devices(sm) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .orderId {
      border-radius: 3px;
      width: 180px;
    }

    .btnView {
      display: block;

      a {
        border-radius: 3px;
        font-size: 11px;
        height: 34px;
        line-height: 34px;
        width: 110px;
      }
    }
  }
}

.bottomBtn {
  display: flex;
  justify-content: center;
  gap: 40px;

  button {
    background-color: #d9d9d9;
    border: 0.5px solid rgba(97, 72, 28, 0.5);
    border-radius: 5px;
    color: black;
  }
}

//
.orderDeliveryContainer {
  .tableHeader {
    th {
      font-weight: 400;
      font-size: 17px;
      line-height: 17px;
      text-align: center;
    }
  }
  td {
    text-align: center;
  }
  .orderId {
    background: #a47e3b;
    border: 0.5px solid #61481c;
    border-radius: 2px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
  }
  .orderItems {
    background: #d9d9d9;
    border: 1px solid #525252;
    border-radius: 5px;
    width: 85px;
    height: 90px;
    font-weight: 900;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: black;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;

    ul:before {
      content: attr(aria-label);
      font-size: 10px;
      font-weight: bold;
      margin-left: -29px;
      text-align: center;
    }

    li {
      list-style: none;
      font-weight: 300;
      font-size: 10px;
      line-height: 10px;
      margin-left: -29px;
    }
  }
  .deliveryFee {
    background: #d9d9d9;
    border: 1px solid #525252;
    border-radius: 5px;
    width: 85px;
    height: 30px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    text-align: center;

    span {
      font-weight: 900;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .grandTotal {
    background: #d9d9d9;
    border: 1px solid #525252;
    border-radius: 5px;
    width: 85px;
    height: 30px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    text-align: center;

    span {
      font-weight: 900;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .customerInfo {
    background: #fde9b1;
    border: 1px solid #61481c;
    border-radius: 0px 5px 5px 5px;
    width: 262px;
    height: 185px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media (width: 320px) {
      width: 209px;
    }

    @media (min-width: 768px) {
      width: 600px;
    }

    li {
      font-weight: 250;
      font-size: 10px;
      line-height: 13px;
      list-style: none;

      span {
        font-weight: 300;
        font-size: 10px;
        line-height: 13px;
      }
      img {
        margin-left: 2px;
        width: 15%;

        @media (min-width: 768px) {
          width: 10%;
        }
      }
    }
    .declineAccept {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      font-size: 8px;
      margin-top: 5px;

      a {
        background: black;
        padding: 0.1em 1em;
        border: 0.5px solid #61481c;
        border-radius: 3px;
        color: #f0bb62;
      }
    }
  }
}

.historyContainerHistory {
  .historyHeader {
    padding: 0px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 425px) {
      padding: 0px;
    }
    .historyHeader1 {
      @media (max-width: 425px) {
        display: flex;
        align-items: center;
        gap: 120px;
      }
      @media (width: 320px) {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      h3 {
        @media (max-width: 425px) {
          font-size: 15px;
          padding-top: 10px;
        }
        @media (width: 320px) {
          font-size: 15px;
          padding-top: 10px;
        }
      }

      .search {
        input {
          @media (max-width: 425px) {
            width: 140px;
            height: 20px;
          }
          @media (width: 375px) {
            width: 120px;
            height: 20px;
          }
          @media (width: 320px) {
            width: 140px;
            height: 20px;
          }
        }

        img {
          @media (max-width: 425px) {
            width: 20px;
            height: 20px;
            top: 5px;
          }
          @media (width: 320px) {
            width: 20px;
            height: 20px;
            top: 5px;
          }
        }
      }
    }

    h3 {
      margin-left: 0px;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 25px;
    }

    .search {
      position: relative;
      margin-left: 0px;
    }

    .search input {
      background: #f3f3f3;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
      height: 40px;
      width: 370px;
      margin: 0;
      padding: 12px 40px 12px 12px;
      line-height: 1;
      outline: none;

      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 12px;
      color: #7d7d7c;
    }

    .search img {
      width: 24px;
      position: absolute;
      top: 10px;
      right: 12px;
    }
  }
}
