@import "~bootstrap/scss/bootstrap";
@import "./theme/_variables.scss";
@import "./theme/_mixins.scss";

@font-face {
  font-family: "Neris";
  src: url("./assets/fonts/Neris-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris";
  src: url("./assets/fonts/Neris-Thin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neris";
  src: url("./assets/fonts/Neris-SemiBold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Neris";
  font-weight: 300;
}

html {
  scroll-behavior: auto !important;
}

body {
  margin: 0;
}

.page {
  margin-top: $FM_HEADER_HEIGHT;
  margin-bottom: $FM_FOOTER_HEIGHT;

  @include devices(md) {
    margin-top: $FM_HEADER_HEIGHT_MD;
    margin-bottom: $FM_FOOTER_HEIGHT_MD;
  }

  @include devices(xs) {
    margin-top: 50px - $FM_HEADER_HEIGHT_XS;
  }
}

.signupPage {
  @include devices(md) {
    header {
      display: none !important;
    }

    .page {
      background: #e3d7c2;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.notificationContainer{
  z-index: 2000;
  position: fixed;
  width: 454px;
  bottom: 20px;
  right: 10px;
  transform: translateX(500px);
  transition: all 2s ease;
  
  .notification{
    padding: 0 20px;
    width: 454px;
    height: 112px;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    .monkey{
      width: 78px;
      height: 85px;
    }
    .leftContent{
      .header{
        font-weight: 600;
        font-size: 23px;
        line-height: 31px;
        color: #FFFFFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        margin: 5px 0;
        text-align: start;
      }
      .buttonContent{
        font-weight: 600;
        font-size: 23px;
        line-height: 31px;
        color: #000;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        background: #F0BB62;
        border: 1px solid #61481C;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 10px;
        margin-right: 30px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
.active{
  transition: all 2s ease;
  transform: translateX(0px);
}

@include devices(md){
  .notificationContainer{
    top: 60px;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: fit-content;
    .notification{
      width: 100%;
      height: 95px;
      .monkey{
        width: 60px;
        height: 60px;
      }
      .leftContent{
        margin: 0 15px;
        .header{
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;
        }
        .buttonContent{
          width: 100%;
          height: 41px;
          font-size: 16px;
          line-height: 16px;
          padding: 10px;
        }
      }
    }
  }
}