@import "../../../theme/_variables.scss";
@import "../../../theme/_mixins.scss";

.container {
  overflow-x: hidden;
  min-height: calc(100vh - $FM_HEADER_HEIGHT - $FM_FOOTER_HEIGHT);
  padding: 20px 0;

  @include devices(md) {
    min-height: auto;
    margin-bottom: -195px + $FM_FOOTER_HEIGHT_MD;
    padding-top: 40px;
  }
}

.navigationContainer,
.contentContainer {
  background: #f2f2f2;
  border: 1px solid #000000;
  padding: 30px 20px;
  height: 966px;

  @media (max-width: 768px) {
    // height: 870px;
    background: none;
    border: none;
    padding: 10px 20px;
    height: auto;
    // padding: 0;
  }
}

.contentContainer {
  // background-color: #fdf5e7;
  border: none;
  background: none;

  @media (max-width: 768px) {
    background: none;
  }
}

.content {
  height: 100%;
  padding: 30px 20px;
}
