.profile-content-container {
  @media (max-width: 768px) {
    text-align: center;
  }
  .right h3 {
    // padding: 15px;

    @media (max-width: 768px) {
      padding: 0;
      font-size: 15px;
    }
  }

  .right form {
    left: 0px;
    top: 0px;
    padding: 20px;

    @media (max-width: 768px) {
      padding: 0px;
    }

    label {
      font-weight: 300;
      font-size: 15px;
      line-height: 20px;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    input {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;

      background: #dddcdc;
      border: 0.5px solid #61481c;
      border-radius: 10px;
    }
    ::placeholder {
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      color: black;

      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }

  .right .buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;

    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;

    @media (min-width: 1024px) {
      float: right;
      padding-top: 20px;
    }
  }

  .right .buttons #editBtn {
    background: #d9d9d9;
    // padding: 1em 5em;
    width: 100px;
    color: black;

    border: 0.5px solid rgba(97, 72, 28, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;

    @media (max-width: 425px) {
      // padding: 0.5em 2em;
      width: 80px;
    }
  }

  .right .buttons #saveBtn {
    background: #d9d9d9;
    // padding: 1em 5em;
    width: 150px;
    color: black;

    border: 0.5px solid rgba(97, 72, 28, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;

    @media (max-width: 425px) {
      // padding: 0.5em 2em;
      width: 80px;
    }
  }

  .bike-images {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 80px 90px;
    gap: 10px;

    @media (width: 1024px) {
      padding-left: 70px;
    }

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    img {
      width: 80px;
      height: 80px;

      @media (width: 768px) {
        height: 70px;
      }
      @media (max-width: 425px) {
        width: 74px;
        height: 70px;
      }
    }

    button {
      width: 120px;
      background: #d9d9d9;
      border: 0.5px solid rgba(97, 72, 28, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: black;
    }
  }
}
