@import "../../theme/_variables.scss";
@import "../../theme/_mixins.scss";

.container {
  color: $FM_TEXT_BROWN;
  margin-top: 40px;
  text-align: center;

  @include devices(md) {
    margin-top: 20px;
  }
}

.buttons {
  button {
    background-color: $FM_BG_YELLOW;
    border: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    min-width: 100px;

    &:hover,
    &:active,
    &:focus,
    &.active {
      background-color: $FM_TEXT_BROWN !important;
      color: #ffffff;
    }
  }

  @include devices(md) {
    display: block !important;

    button {
      font-size: 12px;
      margin-right: 6px;
      margin-bottom: 6px;
      min-width: 80px;
    }
  }
}
