@import "../../theme/_variables.scss";
@import "../../theme/_mixins.scss";

.button {
  border: 0.5px solid #61481c;
  border-radius: 15px;
  background-color: #fff;
  color: #000000;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;

  .star {
    color: #e6b325;
  }

  &:hover {
    background-color: #61481c;
    border-color: #000000;
    cursor: pointer;
  }

  &:active {
    background-color: #61481c !important;
    border-color: #000000 !important;
  }

  @include devices(sm) {
    padding: 2px 8px;
    margin: 0 5px !important;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
  }
}

.activeBtn {
  color: #fff;
  background-color: #61481c;
  border-color: #000000;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 80%;
}

.listItem {
  width: 45%;

  &:nth-child(odd) {
    margin-right: 5%;
  }

  &:nth-child(even) {
    margin-left: 5%;
  }

  .listItemContent {
    border-top: 1px solid #757575;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  img {
    border: 1px solid #000000;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }

  h4 {
    font-size: 18px;
  }

  .rating {
    line-height: 1;
  }

  .dateLabel {
    font-size: 14px;
    line-height: 1;
  }

  @include devices(sm) {
    width: 100%;

    &:nth-child(odd) {
      margin-right: 0%;
    }

    &:nth-child(even) {
      margin-left: 0%;
    }
  }
}

.seeMore {
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

.modalContainer {
  padding: 15px;
  img {
    border: 1px solid #000000;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }

  h4 {
    font-size: 18px;
  }

  .rating {
    line-height: 1;
  }
}
