@import "../../theme/_variables.scss";
@import "../../theme/_mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  text-align: center;
  padding: 0 40px;

  @include devices(md) {
    min-height: 250px;
    padding: 0 30px;
  }

  @include devices(sm) {
    min-height: 200px;
    padding: 0 20px;
  }

  @include devices(xs) {
    padding: 0 10px;
  }
}

.form {
  input {
    border: 1px solid #000000;
    color: #000000;
    font-size: 18px;
    line-height: 1;
  }

  button {
    background-color: $FM_TEXT_BROWN;
    border: none;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    padding: 12px;
  }
}

// .spinnerBtn {
//   background-color: $FM_TEXT_BROWN;
//   border: none;
//   font-weight: 600;
//   line-height: 1;
//   text-transform: uppercase;
//   padding: 12px;
// }

.errors {
  color: red;
  text-align: left;

  p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 0;
  }
}
