@import "../../theme/_variables.scss";
@import "../../theme/_mixins.scss";

.formInnerContainer {
  background: rgba(198, 174, 133, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 40px;

  @include devices(md) {
    border-radius: 5px;
    padding: 20px 20px 15px;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  @include devices(xs) {
    padding: 15px 15px 10px;
  }
}

.form {
  text-align: center;

  h3 {
    color: #61481c;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;

    @include devices(md) {
      font-size: 18px;
    }
  }

  label {
    position: absolute;
    color: #61481c;
    font-size: 12px;
    line-height: 1;
    opacity: 0.5;
    top: 5px;
    left: 10px;
  }

  input {
    background: #f8f2e9;
    border: 1px solid rgba(97, 72, 28, 0.5);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px 10px 5px;
    transition: all 0.3s ease-in-out;

    @include devices(md) {
      margin-bottom: 10px;
    }
  }

  button {
    background: #e6b325;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    color: #61481c;
    font-size: 20px;
    line-height: 1.2;
    min-width: 240px;
    padding: 10px;

    &:hover {
      background: #a47e3b;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @include devices(md) {
      font-size: 18px;
      padding: 6px;
    }
  }

  .checkbox {
    margin-top: 30px;
    padding: 0 20px;

    > div {
      height: 28px;
      line-height: 28px;
      font-size: 16px;
      margin-bottom: 0;
    }

    label {
      color: #bf9742;
      font-size: 15px;
      line-height: 1;
      position: initial;
      margin-left: 10px;
      opacity: 1;
    }

    @include devices(md) {
      margin-top: 10px;
    }
  }
}

.errors {
  color: $FM_TEXT_RED;
  text-align: left;

  p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 0;
  }
}
