@import "../../theme/_variables.scss";
@import "../../theme/_mixins.scss";

.formInnerContainer {
  margin-bottom: 40px;

  @include devices(md) {
    &:first-child {
      margin-bottom: 20px;
    }
  }

  @include devices(xs) {
  }
}

.form {
  text-align: center;

  h3 {
    color: #61481c;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;

    @include devices(md) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  label {
    position: absolute;
    color: #61481c;
    font-size: 12px;
    line-height: 1;
    opacity: 0.5;
    top: 5px;
    left: 10px;
  }

  input {
    background: #f8f2e9;
    border: 1px solid rgba(97, 72, 28, 0.5);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px 10px 5px;
    transition: all 0.3s ease-in-out;

    @include devices(md) {
      margin-bottom: 10px;
    }
  }

  .addressInput {
    width: 100%;

    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
  }

  button {
    background: #e6b325;
    box-shadow: $FM_BUTTON_SHADOW;
    border: none;
    border-radius: 5px;
    color: $FM_TEXT_BROWN;
    font-size: 16px;
    font-weight: 300;
    width: 180px;
    padding: 6px;

    &:hover {
      background: #a47e3b;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
      background: $FM_BG_GRAY2;
      opacity: 1;
    }

    @include devices(md) {
      font-size: 18px;
      padding: 6px;
    }
  }

  button.pin {
    background: #000000;
    border: 2px solid #000000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    text-transform: uppercase;

    &:hover {
      border-color: $FM_BG_YELLOW;
    }
  }

  .checkbox {
    margin-top: 30px;
    padding: 0 20px;

    > div {
      height: 28px;
      line-height: 28px;
      font-size: 16px;
      margin-bottom: 0;
    }

    label {
      color: #bf9742;
      font-size: 15px;
      line-height: 1;
      position: initial;
      margin-left: 10px;
      opacity: 1;
    }

    @include devices(md) {
      margin-top: 10px;
    }
  }
}

.errors {
  color: $FM_TEXT_RED;
  text-align: left;

  p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 0;
  }
}

.map {
  width: 100%;
  height: 70vh;
}

.modalAddress {
  background-color: $FM_TEXT_BROWN;
  color: #ffffff;
  font-size: 14px;

  strong {
    font-weight: 500;
  }
}
