@import "../../theme/_variables.scss";
@import "../../theme/_mixins.scss";

.background {
  background-image: url(../../assets/images/bg-register.png);
  background-position: right bottom -10px;
  background-repeat: no-repeat;
  background-size: 450px;

  @include devices(xl) {
    background-size: 400px;
  }

  @include devices(lg) {
    background-size: 350px;
  }

  @include devices(md) {
    background-size: 325px;
  }

  @include devices(sm) {
    background-position: right -30px bottom -10px;
    background-size: 300px;
    padding-bottom: 150px;
  }
}

.container {
  min-height: calc(100vh - $FM_HEADER_HEIGHT - $FM_FOOTER_HEIGHT);
  padding: 40px 0;

  @include devices(md) {
    min-height: calc(100vh - $FM_HEADER_HEIGHT_MD - $FM_FOOTER_HEIGHT_MD);
    padding-top: 20px;
  }

  @include devices(xs) {
    min-height: calc(100vh - $FM_HEADER_HEIGHT_XS - $FM_FOOTER_HEIGHT_XS);
  }
}
